@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3 class="text-center">Visita mi Repositorio en <a href="https://github.com/juansubas" target="_blank" >GitHub</a></h3>
</div>
