@model AppNetRazorMVC.Models.Usuario
@{
    ViewData["Title"] = "Editar Usuario";
}

<h1 class="text-center">Aplicacion NET 7 MVC</h1>

<div class="row">
    <div class="col-sm-12">
        <div class="card border">
            <div class="card-header">
                <h3 class="text-center">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Home" asp-action="Eliminar" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <!-- Enviar el ID del usuario como campo oculto para poder obtenerlo en el controller-->
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" readonly/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" readonly/>
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" readonly/>
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" readonly/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit"
                            class="btn btn-success" 
                            onclick="return confirm('Esta seguro de eliminar el usuario?')">
                            Eliminar Usuario
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a lista</a>
</div>
